@font-face {
    font-display: swap; 
    font-family: 'aleo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aleo.regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap;
    font-family: 'JSbold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/JosefinSans-Bold.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap;
    font-family: 'JS-light';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/JosefinSans-Light.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'JS';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'); 
  }