@font-face {
    font-display: swap; 
    font-family: 'PoppinsLight';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Poppins-Light.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap; 
    font-family: 'roboto-bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'); 
  }
  
@font-face {
    font-display: swap; 
    font-family: 'rajdhani-bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Rajdhani-Bold.woff2') format('woff2'); 
  }
@font-face {
    font-display: swap; 
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap; 
    font-family: 'open-sans-bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'); 
  }
@font-face {
    font-display: swap; 
    font-family: 'sigher';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SigherRegular.woff2') format('woff2'); 
  }

