*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: min(90%, 1366px);
  margin: 0 auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.logo h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
}

.logo span {
  color: #aa1a15;
  font-size: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #141414;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  display: flex;
  gap: 45px;
}

.header-item a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: 'PoppinsLight';
}

.header-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ff0000;
  transition: width 0.3s ease;
}

.header-item:hover::after {
  width: 100%;
}

// .header-item {
//   display: flex;
//   align-items: center;
//   gap: 8px; /* відступ між іконкою та текстом */
// }

.icon {
  width: 21px;
  height: 14px;
  margin-top: 6px;
  margin-right: 3px;
}

.icon-2 {
  width: 17px;
  height: 17px;
  margin-top: 3px;
  margin-right: 3px;
}


.icon-3 {
  width: 14px;
  height: 23px;
  margin-right: 4px;
}


.hero-section {
  background: url("../images/bg.png") center/cover no-repeat;
  min-height: 100vh;
}

/* Напівпрозорий білий шар поверх */
.hero-section .overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(28 26 26 / 96%);
  z-index: 1;
  /* шар між фоном і контентом */
  top: 84px;
  bottom: -90px;
}

.logo-img img {
  max-width: 200px;
  height: auto;
  width: 200px;
}

.nav-list{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 4px;
}

.menu-list{
  display: flex;
  gap: 35px;
  font-family:'roboto-bold';
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0em;
  font-weight: 700;
}

.menu-item a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ababab;
  transition: color 0.3s ease;
}

.menu-item a:hover {
  color: #ffffff;
}

/* лінії */
.menu-item a::after,
.menu-item a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #dd0c0c, #080808);
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

/* верхня лінія */
.menu-item a::before {
  top: -5px;
  transform-origin: left;
}

/* нижня лінія */
.menu-item a::after {
  bottom: -5px;
  transform-origin: right;
}

/* ефект при наведенні — обидві лінії з'являються */
.menu-item a:hover::after,
.menu-item a:hover::before {
  transform: scaleX(1);
}

.rob{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.rob p{
  font-family: 'roboto-bold';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  font-weight: 700;
}

.rob img{
  width: 50px;
  height: 50px;
}