@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v14-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9789F9;
  font-family: "Roboto", sans-serif;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
  letter-spacing: 0.04rem;
}

ul {
  list-style: none;
}

main {
  padding: 120px 0;
}

.price-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.price-item {
  background-color: #F5F3F9;
  flex-grow: 1;
  text-align: center;
  padding-top: 40px;
  box-shadow: 0px 0px 20px 0px #8677EF;
}